p {
    box-sizing: border-box;
}

p{
    width: 350px;
    inline-size: 350px;
    height: 150px;
    block-size: 150px;
    margin: 40px;
    padding: 25px;
    border: 5px solid black;
  }

  .my-grid {
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 30px;
  }

  .has-blue-background {
    background-color: #a76dff;
    border: 5px solid #721EE3;
  }

  .has-yellow-background {
    background-color: rgb(153, 159, 36);
    border: 5px solid #c838ad;
  }
